html, body{
	width:100%;
	height:100%;
	overflow:hidden;
}

body{
	margin:0 auto;
	background: #deedee url('squairy_light.jpg');
	font-size: 20px;
}

.main{
	text-align: center;
	width: 400px;
	margin:60px auto 20px;
	text-align: center;
}

h1{
	white-space: nowrap;
	font-family: sans-serif;
	font-size:80px;
	color: rgb(255, 255, 255);
	text-shadow: rgb(204, 204, 204) 0px 1px 0px, rgb(201, 201, 201) 0px 2px 0px, rgb(187, 187, 187) 0px 3px 0px, rgb(185, 185, 185) 0px 4px 0px, rgb(170, 170, 170) 0px 5px 0px, rgba(0, 0, 0, 0.0980392) 0px 6px 1px, rgba(0, 0, 0, 0.0980392) 0px 0px 5px, rgba(0, 0, 0, 0.298039) 0px 1px 3px, rgba(0, 0, 0, 0.14902) 0px 3px 5px, rgba(0, 0, 0, 0.2) 0px 5px 10px, rgba(0, 0, 0, 0.2) 0px 10px 10px, rgba(0, 0, 0, 0.0980392) 0px 20px 20px;
	-webkit-transition: .2s all linear;
		 -moz-transition: .2s all linear;
	     -o-transition: .2s all linear;
		      transition: .2s all linear;
}

ul{
	margin: 40px auto;
	list-style: none;
	line-height: 2;
	width: 50%;
	text-align: center;
	min-height: 100px;
}

li{
	cursor: pointer;
	text-align: left;
	border-bottom: 2px dotted black;
	line-height: 1.26;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

.bought{
	text-decoration: line-through;
}

.btn{
	width: 50%;
	margin: 0 auto;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
	position:relative;
	text-shadow: 0 1px 2px black;
	color:#FFF;
	display:block;
	text-decoration:none;

	border-radius:5px;
	border:solid 1px #D94E3B;
	background:#cb3b27;

	padding:5px 10px;
	-webkit-transition: all 0.1s;
	-moz-transition: all 0.1s;
	transition: all 0.1s;
        box-shadow: 0px 7px 0px #84261a;

}

.btn:active{
  box-shadow: 0px 2px 0px #84261a;
  position:relative;
  top:7px;

}

.btn:before {
  position: absolute;
  display: block;
  content: ' ';
  top: -10px;
  right: -10px;
  bottom: -10px;
  left: -10px;
}


.buy{
	position: absolute;
	margin: 3px -58px 0;
}


@media only screen and (max-width : 480px) {
	html, body{
		overflow-y: auto;
	}
	h1{
		font-size: 60px;
	}
	.buy{
		position: relative;
		margin: 3px 12px 0 -50px;
	}
}